
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script type="text/javascript">

</script>

				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="renderer" content="webkit">
				<meta name="baidu-site-verification" content="pmPdczRdjp">
				<meta name="keywords" content="DeepLearning深度学习竞赛网站">
				<meta name="description" content="基于深度学习的学科竞赛网站">
				<title>DeepLearning深度学习竞赛</title>

				<link rel="shortcut icon" href="../static/img/icon-1.png" type="image/x-icon">

				<link rel="stylesheet" type="text/css" href="../static/style_Main/basic.css">
				<link rel="stylesheet" type="text/css" href="../static/style_Main/index201708.css">
				<link rel="stylesheet" type="text/css" href="../static/style_Main/login_sub.css">

				<script src="../static/style_Main/jquery-1.9.1.min.js.下载"></script>


			</head>

			<body>

				<link rel="stylesheet" type="text/css" href="../static/style_Main/login_sub.css">

   <div class="navigation">
			<a class="home" href=""></a>
			<ul class="menu">
				<li class="link"><a href="welcome1">深度学习竞赛</a></li>
				<li class="link"><a target="_blank" href="I_N/goto_details_1/625">本届通知</a></li>
				<li class="link">
					<a href="javascript:;">关于大赛</a>
					<ul>
                      	<li><a target="_blank" href="I_N/goto_news_1">大赛新闻</a></li>
                      	<li><a target="_blank" href="I_N/goto_Info_1">大赛通知</a></li>
                      	<li><a target="_blank" href="I_N/goto_details_1/233">大赛章程</a></li>
                      	<li><a target="_blank" href="I_N/goto_details_1/622">奖项设置</a></li>
                      	<li><a target="_blank" href="I_N/goto_details_1/623">竞赛科目</a></li>

                      	<!--<li><a target="_blank" href="../I_N/goto_details_1/636">团队赛通知</a></li>-->

					</ul>
				</li>
				<li class="link">
                    <a href="javascript:;">学习相关</a>
                    <ul>
					    <li><a href="/goto_download_study_1">辅导资料</a></li>
                        <li ><a id="video">视频资料</a></li>
                    </ul>
				</li>
				<li class="link">
                    <a target="_blank" href="#">比赛</a>
                    <ul>
                        <li><a target="_blank" href="../goto_competitions_1" >比赛题目</a></li>
                        <li><a target="_blank"  id="down_data">数据集</a></li>
                        <li><a target="_blank" id="join_team">参加队伍</a></li>
                    </ul>
                </li>

				<li class="link"><a target="_blank" href="../contact_me_1">联系我们</a></li>

				<li class="link newsHead" id="newsHead" style="display:none;">
					<a href=""><span class="newsNum" id="newsNum"></span>
						<div class="news-msg" id="news-msg">有新的消息</div>
					</a>
				</li>

				<li id="login_normal" class="account" style="margin-left: 100px;">

					<a href="/../login" >登录</a>
					<a href="/../register">注册</a>
				</li>					
								
			</ul>
		</div>
		<a href="" target="_blank"><span id="weixin_login_a_to"></span></a>

<script>
	$("#video").click(function () {
        var r = confirm("您需要先登录才能观看视频！！！");
        if(r == true){
            console.log("aaaa111");
            window.location.href = "/login";
        }
    });

</script>
                <div class="index">

						<div class="sec-box banner flexsilde" id="bannerSilder">
							<div class="hd">
								<ul>

									<li class=""></li>
									<li class="on"></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>
									<li></li>

								</ul>
							</div>
							<div class="bd">
								<div class="tempWrap" style="overflow:hidden; position:relative; width:1519px"><ul style="width: 10633px; left: -1519px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">

									 <!-- 图片轮播 -->
									 <li style="float: left; width: 1519px;">
										<a class="activity-temp" target="_blank" href="" style="background-image: url(../static/img/img-8.jpg);"></a>
									 </li>
									 <li style="float: left; width: 1519px;">
										<a class="activity-temp" target="_blank" href="" style="background-image: url(../static/img/timg.gif);"></a>
									 </li>
									 
									 <li style="float: left; width: 1519px;">
										<a class="activity-temp" id="zbahref" href="" style="background-image: url(../static/img/img-3.jpg);"></a>
									 </li>

									<li style="float: left; width: 1519px;">
										<a class="activity-temp" target="_blank" href="" style="background-image: url(../static/img/img-4.jpg);"></a>
									</li>
									<li style="float: left; width: 1519px;">
										<a class="activity-temp" target="_blank" href="" style="background-image: url(../static/img/img-5.jpg);"></a>
									</li>

									<li style="float: left; width: 1519px;">
										<a class="activity-temp" target="_blank" href="" style="background-image: url(../static/img/img-6.jpg);"></a>
									</li>

									
									<li style="float: left; width: 1519px;">

										<a class="activity-temp" target="_blank" href="javascript:void(0);" style="background-image: url(../static/img/img-7.png);"></a>
									</li>
									

								</ul></div>
							</div>
							<a class="prev" href="javascript:void(0)"></a>
							<a class="next" href="javascript:void(0)"></a>
						</div>

						<div class="sec-box news">
							<div class="clearfix">
								<div class="fl">
									<div>
										<h2>深度学习介绍</h2>
										<div>深度学习是指多层神经网络上运用各种机器学习算法解决图像，文本等各种问题的算法集合。深度学习从大类上可以归入神经网络，不过在具体实现上有许多变化。深度学习的核心是特征学习，旨在通过分层网络获取分层次的特征信息，从而解决以往需要人工设计特征的重要难题。</div>

									</div>
								</div>

  <div class="fr">
	<ul class="tabs clearfix">
		<li class="act" href="/pages/dasai/notes.html?id=20" id="Info"><a href="javascript:void(0);" id="Info_2">大赛通知</a></li>
		<li href="/pages/dasai/news.html?id=19" id="news"><a href="javascript:void(0);" id="news_2">大赛新闻</a></li>
		
		<!--<a id="tabs_more" href="" target="_blank">MORE&gt;&gt;</a>-->
	</ul>
	<div class="tabs-content">
		<div class="tab-box tab2">
				<ul>
                    {% for foo in announce %}
                            <li><a href="I_N/goto_details_1/{{ foo.id }}" target="_blank">
                                <h3>{{ foo.title }}</h3>
                                <p>{{ foo.ar_time }}</p>
                            </a></li>
                    {% endfor %}
					</ul>
			</div>
		<div class="tab-box tab1">
			<ul>
                {% for foo in news %}
                            <li><a href="I_N/goto_details_1/{{ foo.id }}" target="_blank">
							<h3>{{ foo.title }}</h3>
							<p>{{ foo.ar_time }}</p>
					</a></li>
                    {% endfor %}
				</ul>
		</div>
		
	</div>
</div>
</div>
                    </div>

					</div>

					<div class="footer">
			<div class="bg1">
				<div class="clearfix wrap">
					<div class="item item1">
						<img src="../static/img/DL-logo2.png">
						<div><a href="" target="_blank">关于我们</a></div>
						<div><a href="" target="_blank">用户协议</a></div>
						
					</div>
					<div class="item item2">
						<p class="p1">支持单位</p>
						<p class="p2">主办单位：</p>
						<p class="p2">西北农林科技大学信息化部人才交流中心</p>
						<p class="p2">技术支持：</p>
						<p class="p2">信息工程学院</p>
					</div>
					<div class="item item3">
						<p class="p1">联系我们</p>
						<p class="p2">地址：陕西省杨凌区西北农林科技大学信息工程学院 </p>
						<p class="p2">电话：XXX-XXXX    传真：XXX-XXXXXXX </p>
						<p class="p2">Email：xxxxxx@xxxxx</p>

						<p class="p2">商务合作：xxx-xxxxxxx</p>
					</div>

				</div>
			</div>

		</div>



						<script src="../static/style_Main/jquery.SuperSlide.2.1.1.js.下载"></script>
                
                    <script>
                        $("#down_data").click(function () {
                            var r = confirm("您需要先登录才能下载");
                            if(r == true){
                                window.location.href = "../login"
                            }
                        });

                        $("#join_team").click(function () {
                            var r = confirm("您需要先登录才能参加队伍");
                            if(r == true){
                                window.location.href = "../login"
                            }
                        });


                    </script>

                        <script>
                            $("#tabs_more").click(function () {
                                var Info_2_attr = $("#Info_2").attr("a.act");
                                console.log(Info_2_attr)
                                if(Info_2_attr == "#559ae2"){
                                     $("#tabs_more").attr(href,"I_N/goto_Info_1");
                                }
                            }
                            );
                        </script>

						<script type="text/javascript">

                            console.log('aaa');

							$(function () {
								$("#bannerSilder").slide({
									mainCell: ".bd ul",
									effect: 'left',
									autoPlay: true,
									trigger: 'click',
									easing: 'linear',
									delayTime: 500,
									mouseOverStop: true,
									pnLoop: true
								});


								$("#highlightSilder").slide({
									mainCell: ".bd ul",
									effect: 'fade',
									autoPlay: false,
									trigger: 'click',
									easing: 'linear',
									delayTime: 500,
									mouseOverStop: true,
									pnLoop: true
								});


								$('.tabs li').click(function () {
									if ($(this).hasClass('act')) {
										return
									}
									$(this).addClass('act').siblings().removeClass('act');
									var $content = $(this).closest('.tabs').next('.tabs-content'),
										index = $(this).index();
									var tohref = $(this).attr("href");
									$content.find('.tab-box').hide();
									$content.find('.tab-box').eq(index).show();
									$(this).siblings("#tabs_more").attr("href", tohref);

								})

								var $return = $('.silder .return');
								var throttle = function (fn, delay, atleast) {
									var timer = null;
									var previous = null;
									return function () {
										var now = +new Date();
										if (!previous) previous = now;
										if (now - previous > atleast) {
											fn();
											// 重置上一次开始时间为本次结束时间
											previous = now;
										} else {
											clearTimeout(timer);
											timer = setTimeout(function () {
												fn();
											}, delay);
										}
									}
								}
								window.onscroll = throttle(function () {
									var winHeight = window.innerHeight || $(window).height()
									if ($(window).scrollTop() > winHeight) {
										$return.fadeIn('fast').css("display", "block");
									} else {
										$return.fadeOut('fast')
									}
								}, 100, 200)
								$return.click(function () {
									$('body,html').animate({ scrollTop: 0 }, 500);
								})
                            })


						</script>


</body></html>