
<html class="ng-scope"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style><script type="text/javascript">




</script>




		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>比赛题目详情</title>

          <link rel="shortcut icon" href="../static/img/icon-1.png" type="image/x-icon">


		<link rel="stylesheet" type="text/css" href="/static/style_Cons/basic.css">
		<link rel="stylesheet" type="text/css" href="/static/style_Cons/news.css">
		<link rel="stylesheet" type="text/css" href="/static/style_Cons/login_sub.css">
    <link rel="stylesheet" type="text/css" href="../static/style_Personal/basic.css">

		 <script src="/static/style_Cons/jquery-1.9.1.min.js.下载"></script>

    </head>
  	<body>

		<link rel="stylesheet" type="text/css" href="/static/style_Cons/login_sub.css">

   <div class="navigation">
			<a class="home" href="welcome1"></a>
			<ul class="menu">
				<li class="link"><a href="/welcome1">深度学习竞赛</a></li>
				<li class="link"><a target="_blank" href="/I_N/goto_details_1/625">本届通知</a></li>
				<li class="link act">
					<a href="javascript:;">关于大赛</a>
					<ul>
                      	<li><a target="_blank" href="../I_N/goto_news_1">大赛新闻</a></li>
                      	<li><a target="_blank" href="../I_N/goto_Info_1">大赛通知</a></li>
                      	<li><a target="_blank" href="../I_N/goto_details_1/233">大赛章程</a></li>
                      	<li><a target="_blank" href="../I_N/goto_details_1/622">奖项设置</a></li>
                      	<li><a target="_blank" href="../I_N/goto_details_1/623">竞赛科目</a></li>

                      	<!--<li><a target="_blank" href="../I_N/goto_details_1/636">团队赛通知</a></li>-->

					</ul>
				</li>
				<li class="link">
                    <a href="javascript:;">学习相关</a>
                    <ul>
					    <li><a href="/goto_download_study_1">辅导资料</a></li>
                        <li><a href="../login">视频资料</a></li>
                    </ul>
				</li>
				<li class="link">
                    <a target="_blank" href="#">比赛</a>
                    <ul>
                        <li><a target="_blank" href="../goto_competitions_1">比赛题目</a></li>
                        <li><a target="_blank" id="down_data">数据集</a></li>
                        <li><a target="_blank" id="join_team">参加队伍</a></li>
                    </ul>
                </li>

				<li class="link"><a target="_blank" href="../contact_me_1">联系我们</a></li>



                <li id="login_normal" class="account" style="margin-left: 100px;">

					<a href="/../login" >登录</a>
					<a href="/../register">注册</a>
				</li>

			</ul>
		</div>
		<a href="" target="_blank"><span id="weixin_login_a_to"></span></a>

<script>


</script>
		<div class="lq-news">

			<div class="top-line"></div>
			<div class=" news-detail" id="detail">
				<div class="detail-t">
					<p class="p2">{{ com_topic.com_name }}
					 </p>
					<p class="p3">
					 </p>
                    <div class="content">
                        <div class="news-text">
                            {{ com_topic.com_details }}
                        </div>
                       <a  class="btn-orange btn38 bold h5" id="sign_up">报名</a>

                    </div>
             </div>

			</div>
		</div>
		<div class="footer">
			<div class="bg1">
				<div class="clearfix wrap">
					<div class="item item1">
						<img src="../static/img/DL-logo2.png">
						<div><a href="" target="_blank">关于我们</a></div>
						<div><a href="" target="_blank">用户协议</a></div>
					</div>
					<div class="item item2">
						<p class="p1">支持单位</p>
						<p class="p2">主办单位：</p>
						<p class="p2">西北农林科技大学信息化部人才交流中心</p>
						<p class="p2">技术支持：</p>
						<p class="p2">信息工程学院</p>
					</div>
					<div class="item item3">
						<p class="p1">联系我们</p>
						<p class="p2">地址：陕西省杨凌区西北农林科技大学信息工程学院 </p>
						<p class="p2">电话：XXX-XXXX    传真：XXX-XXXXXXX </p>
						<p class="p2">Email：xxxxxx@xxxxx</p>

						<p class="p2">商务合作：xxx-xxxxxxx</p>
					</div>

				</div>
			</div>

		</div>


        <script>
                        $("#down_data").click(function () {
                            var r = confirm("您需要先登录才能下载");
                            if(r == true){
                                window.location.href = "../login"
                            }
                        });
                        $("#join_team").click(function () {
                            var r = confirm("您需要先登录才能参加队伍");
                            if(r == true){
                                window.location.href = "../login"
                            }
                        });
                    </script>

<script type="text/javascript">


        $("#sign_up").click(function () {
            var r = confirm("您需要先登录才能报名")
            if(r == true){
                return $(location).attr('href', '../login');
            }

        });
</script>


</body></html>